[Desktop Entry]
Name=Load nvidia settings
Type=Application
Terminal=false

Exec="/usr/bin/nvidia-settings -l"
Hidden=False
X-GNOME-Autostart-enabled=true
